@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    --primary-text:hsl(213, 96%, 18%);
}
body{
    text-decoration: none;
    background-color: hsl(229, 24%, 87%);
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
    color:var(--primary-text);
}

.card-body{
    width:940px;
    height:600px;
    background-color: hsl(0, 0%, 100%);
    margin:10vh auto;
    border-radius: 10px;
    padding: 1rem;
    display:flex;

}
.card-body .aside{
    height: 100%;
    width:275px;
    background: url(images/bg-sidebar-desktop.svg) center center/cover;
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right:7rem;
}
.card-body .aside .step{
    display:flex;
    gap: 1rem;
    align-items: center;
}
.card-body .aside .step a{
    font-size: 1rem;
    padding: .4rem .7rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: unset;
    color: #fff;
    margin-bottom: 0.5px;;
}
.card-body .aside .step .active{
    background-color:hsl(206, 94%, 87%);
    color: var(--primary-text);
    border: 1px solid hsl(206, 94%, 87%);
}
.card-body .aside .step .step-info{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.card-body .aside .step .step-info p{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    color:hsl(231, 11%, 63%);
}
.card-body .aside .step .step-info h1{
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .15rem;
}
.form-space{
    position: relative;
}
.form-space .first-step h1{
    color: var(--primary-text);
    margin-top: 2rem;
    margin-bottom: .7rem;
    font-size: 2rem;
}
.form-space .first-step p{
    color:hsl(231, 11%, 63%);
    margin-bottom: 2.5rem;

}
.form-space .first-step form label{
    position: relative;
    font-family: "Ubuntu", sans-serif;
    color: hsl(213, 96%, 18%);
    font-size: .9rem;
}
.form-space .first-step form span{
    position:absolute;
    right: 0;
    padding-top:1px;
    font-family: "Ubuntu",sans-serif;
    font-size: .9rem;
    font-weight: 500;
    color: hsl(354, 84%, 57%);
}
.form-space .first-step form input{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size:1rem;
    color: hsl(213, 96%, 18%);
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 46px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    padding-inline: 1rem;
    outline-color: hsl(243, 100%, 62%);
}
.form-space .first-step form input::placeholder{
    color: hsl(231, 11%, 63%);
}
.form-space .first-step form input:hover{
    cursor: pointer;
}
.form-space .first-step form button{
    position: absolute;
    right: 0;
    bottom: 3%;
    width: 122px;
    height: 48px;
    background-color: hsl(213, 96%, 18%);
    color: hsl(217, 100%, 97%);
    border-radius: 10px;
    border: 2px solid;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.form-space .first-step form button:hover{
    background-color: hsl(213, 92%, 29%); 
}
.error-Message{
    display:none;
}
@media(max-width:470px){
    body{
        height: 100dvh;
        height: 100vh;
        background-color:#fff;
    }
    .card-body{
        width:100dvw;
        width: 100vw;
        height:90vh;
        background-color: hsl(229, 24%, 87%);
        padding:0;
        margin-top: 0px;
        position: relative;
    }
    .card-body .aside{
        height: 172px;
        width:100dvw;
        width: 100vw;
        background: url(images/bg-sidebar-mobile.svg) center center/cover;
        padding-inline:5rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-right:0;
        align-items: center;
    }
    .card-body .aside .step{
        display:flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .card-body .aside .step .step-info{
        display: none;
    }
    .form-space{
        position:absolute;
        background-color: #fff;
        border: transparent;
        border-radius: 10px;
        width: 342px;
        height: 378px;
        inset: 0 0 0 0;
        margin: auto auto;
        padding-inline:2rem;
    }
    .form-space .first-step p{
        margin-bottom: 1rem;
    
    }
    .form-space .first-step form input{
        margin-bottom: .5rem;
        height: 40px;
        padding-inline: 1rem;
    }
    .form-space .first-step form button{
        bottom: -34vh;
    }
    .form-space .first-step form span{
        position:absolute;
        right: 4vh;
        padding-top:2px;
        font-family: "Ubuntu",sans-serif;
        font-size: .8rem;
        font-weight: 500;
        color: hsl(354, 84%, 57%);
    }
    
}